@import url(https://fonts.googleapis.com/css?family=Heebo);
@import url(https://fonts.googleapis.com/css?family=Roboto);

.teks-besar {
    font-family: 'Heebo';
    /* font-style: normal; */
    /* font-weight: 400; */
    font-size: 36px;
    line-height: 53px;
    padding-top: 40px;
    padding-bottom: 30px;
}
